[submodule "assets/themes/Solarized"]
	path = assets/themes/Solarized
	url = git@github.com:braver/Solarized.git
[submodule "assets/themes/onehalf"]
	path = assets/themes/onehalf
	url = git@github.com:sonph/onehalf.git
[submodule "assets/themes/gruvbox-tmTheme"]
	path = assets/themes/gruvbox-tmTheme
	url = git@github.com:subnut/gruvbox-tmTheme.git
[submodule "assets/themes/github-sublime-theme"]
	path = assets/themes/github-sublime-theme
	url = git@github.com:AlexanderEkdahl/github-sublime-theme.git
[submodule "assets/themes/rose-pine"]
	path = assets/themes/rose-pine
	url = https://github.com/rose-pine/tm-theme.git
[submodule "assets/themes/catppuccin"]
	path = assets/themes/catppuccin
	url = https://github.com/SchweGELBin/catppuccin-bat-sub.git
